<?php
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace SquareConnect\Api;

use \SquareConnect\Configuration;
use \SquareConnect\ApiClient;
use \SquareConnect\ApiException;
use \SquareConnect\ObjectSerializer;

/**
 * CatalogApi Class Doc Comment
 *
 * @category Class
 * @package  SquareConnect
 * @author   Square Inc.
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://squareup.com/developers
 */
class CatalogApi
{

    /**
     * API Client
     * @var \SquareConnect\ApiClient instance of the ApiClient
     */
    private $apiClient;

    /**
     * Constructor
     * @param \SquareConnect\ApiClient|null $apiClient The api client to use
     */
    public function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()
                ->setHost('https://connect.squareup.com');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     * @return \SquareConnect\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     * @param \SquareConnect\ApiClient $apiClient set the API client
     * @return CatalogApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * batchDeleteCatalogObjects
     *
     * BatchDeleteCatalogObjects
     *
     * @param \SquareConnect\Model\BatchDeleteCatalogObjectsRequest $body An object containing
     * the fields to POST for the request.  See the corresponding object definition for field details.(required)
     * @return \SquareConnect\Model\BatchDeleteCatalogObjectsResponse
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function batchDeleteCatalogObjects($body)
    {
        list($response, $statusCode, $httpHeader) = $this->batchDeleteCatalogObjectsWithHttpInfo($body);
        return $response;
    }

    /**
     * batchDeleteCatalogObjectsWithHttpInfo
     *
     * BatchDeleteCatalogObjects
     *
     * @param \SquareConnect\Model\BatchDeleteCatalogObjectsRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return array of \SquareConnect\Model\BatchDeleteCatalogObjectsResponse, HTTP status code,
     * HTTP response headers (array of strings)
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function batchDeleteCatalogObjectsWithHttpInfo($body)
    {

        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling batchDeleteCatalogObjects'
            );
        }

        // parse inputs
        $resourcePath = "/v2/catalog/batch-delete";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = ApiClient::selectHeaderAccept(['application/json']);
        if ($_header_accept !== null) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(['application/json']);
        $headerParams['Square-Version'] = "2018-07-12";

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (!empty($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }

        // this endpoint requires OAuth (access token)
        if ($this->apiClient->getConfig()->getAccessToken() !== "") {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()
                    ->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                \SquareConnect\Model\BatchDeleteCatalogObjectsResponse::class
            );
            if (!$response) {
                return [null, $statusCode, $httpHeader];
            }

            return [
                \SquareConnect\ObjectSerializer::deserialize(
                    $response,
                    \SquareConnect\Model\BatchDeleteCatalogObjectsResponse::class,
                    $httpHeader
                ),
                $statusCode,
                $httpHeader
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = \SquareConnect\ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        \SquareConnect\Model\BatchDeleteCatalogObjectsResponse::class,
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * batchRetrieveCatalogObjects
     *
     * BatchRetrieveCatalogObjects
     *
     * @param \SquareConnect\Model\BatchRetrieveCatalogObjectsRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return \SquareConnect\Model\BatchRetrieveCatalogObjectsResponse
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function batchRetrieveCatalogObjects($body)
    {
        list($response, $statusCode, $httpHeader) = $this->batchRetrieveCatalogObjectsWithHttpInfo($body);
        return $response;
    }

    /**
     * batchRetrieveCatalogObjectsWithHttpInfo
     *
     * BatchRetrieveCatalogObjects
     *
     * @param \SquareConnect\Model\BatchRetrieveCatalogObjectsRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return array of \SquareConnect\Model\BatchRetrieveCatalogObjectsResponse, HTTP status code,
     * HTTP response headers (array of strings)
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function batchRetrieveCatalogObjectsWithHttpInfo($body)
    {

        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling batchRetrieveCatalogObjects'
            );
        }

        // parse inputs
        $resourcePath = "/v2/catalog/batch-retrieve";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = ApiClient::selectHeaderAccept(['application/json']);
        if ($_header_accept !== null) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(['application/json']);
        $headerParams['Square-Version'] = "2018-07-12";

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (!empty($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }

        // this endpoint requires OAuth (access token)
        if ($this->apiClient->getConfig()->getAccessToken() !== "") {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()
                    ->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                \SquareConnect\Model\BatchRetrieveCatalogObjectsResponse::class
            );
            if (!$response) {
                return [null, $statusCode, $httpHeader];
            }

            return [
                \SquareConnect\ObjectSerializer::deserialize(
                    $response,
                    \SquareConnect\Model\BatchRetrieveCatalogObjectsResponse::class,
                    $httpHeader
                ),
                $statusCode,
                $httpHeader
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = \SquareConnect\ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        \SquareConnect\Model\BatchRetrieveCatalogObjectsResponse::class,
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * batchUpsertCatalogObjects
     *
     * BatchUpsertCatalogObjects
     *
     * @param \SquareConnect\Model\BatchUpsertCatalogObjectsRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return \SquareConnect\Model\BatchUpsertCatalogObjectsResponse
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function batchUpsertCatalogObjects($body)
    {
        list($response, $statusCode, $httpHeader) = $this->batchUpsertCatalogObjectsWithHttpInfo($body);
        return $response;
    }

    /**
     * batchUpsertCatalogObjectsWithHttpInfo
     *
     * BatchUpsertCatalogObjects
     *
     * @param \SquareConnect\Model\BatchUpsertCatalogObjectsRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return array of \SquareConnect\Model\BatchUpsertCatalogObjectsResponse, HTTP status code,
     * HTTP response headers (array of strings)
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function batchUpsertCatalogObjectsWithHttpInfo($body)
    {

        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling batchUpsertCatalogObjects'
            );
        }

        // parse inputs
        $resourcePath = "/v2/catalog/batch-upsert";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = ApiClient::selectHeaderAccept(['application/json']);
        if ($_header_accept !== null) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(['application/json']);
        $headerParams['Square-Version'] = "2018-07-12";

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (!empty($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }

        // this endpoint requires OAuth (access token)
        if ($this->apiClient->getConfig()->getAccessToken() !== "") {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()
                    ->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                \SquareConnect\Model\BatchUpsertCatalogObjectsResponse::class
            );
            if (!$response) {
                return [null, $statusCode, $httpHeader];
            }

            return [
                \SquareConnect\ObjectSerializer::deserialize(
                    $response,
                    \SquareConnect\Model\BatchUpsertCatalogObjectsResponse::class,
                    $httpHeader
                ),
                $statusCode,
                $httpHeader
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = \SquareConnect\ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        \SquareConnect\Model\BatchUpsertCatalogObjectsResponse::class,
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * catalogInfo
     *
     * CatalogInfo
     *
     * @return \SquareConnect\Model\CatalogInfoResponse
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function catalogInfo()
    {
        list($response, $statusCode, $httpHeader) = $this->catalogInfoWithHttpInfo();
        return $response;
    }

    /**
     * catalogInfoWithHttpInfo
     *
     * CatalogInfo
     *
     * @return array of \SquareConnect\Model\CatalogInfoResponse, HTTP status code,
     * HTTP response headers (array of strings)
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function catalogInfoWithHttpInfo()
    {
        // parse inputs
        $resourcePath = "/v2/catalog/info";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = ApiClient::selectHeaderAccept(['application/json']);
        if ($_header_accept !== null) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(['application/json']);
        $headerParams['Square-Version'] = "2018-07-12";

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (!empty($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }

        // this endpoint requires OAuth (access token)
        if ($this->apiClient->getConfig()->getAccessToken() !== "") {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()
                    ->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                \SquareConnect\Model\CatalogInfoResponse::class
            );
            if (!$response) {
                return [null, $statusCode, $httpHeader];
            }

            return [
                \SquareConnect\ObjectSerializer::deserialize(
                    $response,
                    \SquareConnect\Model\CatalogInfoRespons::class,
                    $httpHeader
                ),
                $statusCode,
                $httpHeader
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = \SquareConnect\ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        \SquareConnect\Model\CatalogInfoResponse::class,
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * deleteCatalogObject
     *
     * DeleteCatalogObject
     *
     * @param string $object_id The ID of the [CatalogObject](#type-catalogobject) to be deleted.
     * When an object is deleted, other objects in the graph that depend on that object will be deleted as well
     * (for example, deleting a [CatalogItem](#type-catalogitem) will delete its
     * [CatalogItemVariation](#type-catalogitemvariation)s). (required)
     * @return \SquareConnect\Model\DeleteCatalogObjectResponse
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function deleteCatalogObject($object_id)
    {
        list($response, $statusCode, $httpHeader) = $this->deleteCatalogObjectWithHttpInfo($object_id);
        return $response;
    }

    /**
     * deleteCatalogObjectWithHttpInfo
     *
     * DeleteCatalogObject
     *
     * @param string $object_id The ID of the [CatalogObject](#type-catalogobject) to be deleted.
     * When an object is deleted, other objects in the graph that depend on that object will be deleted as well
     * (for example, deleting a [CatalogItem](#type-catalogitem) will delete its
     * [CatalogItemVariation](#type-catalogitemvariation)s). (required)
     * @return array of \SquareConnect\Model\DeleteCatalogObjectResponse,
     * HTTP status code, HTTP response headers (array of strings)
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function deleteCatalogObjectWithHttpInfo($object_id)
    {
        // verify the required parameter 'object_id' is set
        if ($object_id === null) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $object_id when calling deleteCatalogObject'
            );
        }

        // parse inputs
        $resourcePath = "/v2/catalog/object/{object_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = ApiClient::selectHeaderAccept(['application/json']);
        if ($_header_accept !== null) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(['application/json']);
        $headerParams['Square-Version'] = "2018-07-12";

        // path params
        if ($object_id !== null) {
            $resourcePath = str_replace(
                "{" . "object_id" . "}",
                $this->apiClient->getSerializer()
                    ->toPathValue($object_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (!empty($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }

        // this endpoint requires OAuth (access token)
        if ($this->apiClient->getConfig()->getAccessToken() !== "") {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()
                    ->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                \SquareConnect\Model\DeleteCatalogObjectResponse::class
            );
            if (!$response) {
                return [null, $statusCode, $httpHeader];
            }

            return [
                \SquareConnect\ObjectSerializer::deserialize(
                    $response,
                    \SquareConnect\Model\DeleteCatalogObjectResponse::class,
                    $httpHeader
                ),
                $statusCode,
                $httpHeader
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = \SquareConnect\ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        \SquareConnect\Model\DeleteCatalogObjectResponse::class,
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * listCatalog
     *
     * ListCatalog
     *
     * @param string $cursor The pagination cursor returned in the previous response.
     * Leave unset for an initial request. See [Paginating results](#paginatingresults)
     * for more information.(optional)
     * @param string $types An optional case-insensitive, comma-separated list of object types to retrieve,
     * for example &#x60;ITEM,ITEM_VARIATION,CATEGORY&#x60;.  The legal values are taken from the
     * [CatalogObjectType](#type-catalogobjecttype) enumeration, namely &#x60;\&quot;ITEM\&quot;&#x60;,
     * &#x60;\&quot;ITEM_VARIATION\&quot;&#x60;, &#x60;\&quot;CATEGORY\&quot;&#x60;, &#x60;\&quot;DISCOUNT\&quot;&#x60;,
     * &#x60;\&quot;TAX\&quot;&#x60;, &#x60;\&quot;MODIFIER\&quot;&#x60;,
     * or &#x60;\&quot;MODIFIER_LIST\&quot;&#x60;. (optional)
     * @return \SquareConnect\Model\ListCatalogResponse
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function listCatalog($cursor = null, $types = null)
    {
        list($response, $statusCode, $httpHeader) = $this->listCatalogWithHttpInfo($cursor, $types);
        return $response;
    }

    /**
     * listCatalogWithHttpInfo
     *
     * ListCatalog
     *
     * @param string $cursor The pagination cursor returned in the previous response.
     * Leave unset for an initial request. See [Paginating results](#paginatingresults) for more information. (optional)
     * @param string $types An optional case-insensitive, comma-separated list of object types to retrieve,
     * for example &#x60;ITEM,ITEM_VARIATION,CATEGORY&#x60;.  The legal values are taken from the
     * [CatalogObjectType](#type-catalogobjecttype) enumeration, namely &#x60;\&quot;ITEM\&quot;&#x60;,
     * &#x60;\&quot;ITEM_VARIATION\&quot;&#x60;, &#x60;\&quot;CATEGORY\&quot;&#x60;, &#x60;\&quot;DISCOUNT\&quot;&#x60;,
     * &#x60;\&quot;TAX\&quot;&#x60;, &#x60;\&quot;MODIFIER\&quot;&#x60;,
     * or &#x60;\&quot;MODIFIER_LIST\&quot;&#x60;.(optional)
     * @return array of \SquareConnect\Model\ListCatalogResponse, HTTP status code,
     * HTTP response headers (array of strings)
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function listCatalogWithHttpInfo($cursor = null, $types = null)
    {
        // parse inputs
        $resourcePath = "/v2/catalog/list";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = ApiClient::selectHeaderAccept(['application/json']);
        if ($_header_accept !== null) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(['application/json']);
        $headerParams['Square-Version'] = "2018-07-12";

        // query params
        if ($cursor !== null) {
            $queryParams['cursor'] = $this->apiClient->getSerializer()
                ->toQueryValue($cursor);
        }// query params
        if ($types !== null) {
            $queryParams['types'] = $this->apiClient->getSerializer()
                ->toQueryValue($types);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (!empty($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }

        // this endpoint requires OAuth (access token)
        if ($this->apiClient->getConfig()->getAccessToken() !== "") {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()
                    ->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                \SquareConnect\Model\ListCatalogResponse::class
            );
            if (!$response) {
                return [null, $statusCode, $httpHeader];
            }

            return [
                \SquareConnect\ObjectSerializer::deserialize(
                    $response,
                    \SquareConnect\Model\ListCatalogResponse::class,
                    $httpHeader
                ),
                $statusCode,
                $httpHeader
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = \SquareConnect\ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        \SquareConnect\Model\ListCatalogResponse::class,
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * retrieveCatalogObject
     *
     * RetrieveCatalogObject
     *
     * @param string $object_id The object ID of any type of [CatalogObject](#type-catalogobject)s to be retrieved.
     * (required)
     * @param bool $include_related_objects If &#x60;true&#x60;,
     * the response will include additional objects that are related to the requested object, as follows:
     * If the &#x60;object&#x60; field of the response contains a [CatalogItem](#type-catalogitem), its associated
     * [CatalogCategory](#type-catalogcategory), [CatalogTax](#type-catalogtax)es, and
     * [CatalogModifierList](#type-catalogmodifierlist)s will be returned in the &#x60;related_objects&#x60;
     * field of the response. If the &#x60;object&#x60; field of the response contains a
     * [CatalogItemVariation](#type-catalogitemvariation), its parent [CatalogItem](#type-catalogitem) will be returned
     * in the &#x60;related_objects&#x60; field of the response.  Default value: &#x60;false&#x60; (optional)
     * @return \SquareConnect\Model\RetrieveCatalogObjectResponse
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function retrieveCatalogObject($object_id, $include_related_objects = null)
    {
        list($response, $statusCode, $httpHeader) = $this->retrieveCatalogObjectWithHttpInfo(
            $object_id,
            $include_related_objects
        );
        return $response;
    }

    /**
     * retrieveCatalogObjectWithHttpInfo
     *
     * RetrieveCatalogObject
     *
     * @param string $object_id The object ID of any type of [CatalogObject](#type-catalogobject)s to be retrieved.
     * (required)
     * @param bool $include_related_objects If &#x60;true&#x60;, the response will include additional objects that
     * are related to the requested object, as follows:  If the &#x60;object&#x60; field of the response contains a
     * [CatalogItem](#type-catalogitem), its associated [CatalogCategory](#type-catalogcategory),
     * [CatalogTax](#type-catalogtax)es, and [CatalogModifierList](#type-catalogmodifierlist)s will be returned in the
     * &#x60;related_objects&#x60; field of the response. If the &#x60;object&#x60; field of the response contains a
     * [CatalogItemVariation](#type-catalogitemvariation), its parent [CatalogItem](#type-catalogitem) will be returned
     * in the &#x60;related_objects&#x60; field of the response.  Default value: &#x60;false&#x60; (optional)
     * @return array of \SquareConnect\Model\RetrieveCatalogObjectResponse, HTTP status code, HTTP response headers
     * (array of strings)
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function retrieveCatalogObjectWithHttpInfo($object_id, $include_related_objects = null)
    {

        // verify the required parameter 'object_id' is set
        if ($object_id === null) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $object_id when calling retrieveCatalogObject'
            );
        }

        // parse inputs
        $resourcePath = "/v2/catalog/object/{object_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = ApiClient::selectHeaderAccept(['application/json']);
        if ($_header_accept !== null) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(['application/json']);
        $headerParams['Square-Version'] = "2018-07-12";

        // query params
        if ($include_related_objects !== null) {
            $queryParams['include_related_objects'] = $this->apiClient->getSerializer()
                ->toQueryValue($include_related_objects);
        }

        // path params
        if ($object_id !== null) {
            $resourcePath = str_replace(
                "{" . "object_id" . "}",
                $this->apiClient->getSerializer()
                    ->toPathValue($object_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (!empty($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }

        // this endpoint requires OAuth (access token)
        if ($this->apiClient->getConfig()->getAccessToken() !== "") {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()
                    ->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                \SquareConnect\Model\RetrieveCatalogObjectResponse::class
            );
            if (!$response) {
                return [null, $statusCode, $httpHeader];
            }

            return [
                \SquareConnect\ObjectSerializer::deserialize(
                    $response,
                    \SquareConnect\Model\RetrieveCatalogObjectResponse::class,
                    $httpHeader
                ),
                $statusCode,
                $httpHeader
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = \SquareConnect\ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        \SquareConnect\Model\RetrieveCatalogObjectResponse::class,
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * searchCatalogObjects
     *
     * SearchCatalogObjects
     *
     * @param \SquareConnect\Model\SearchCatalogObjectsRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return \SquareConnect\Model\SearchCatalogObjectsResponse
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function searchCatalogObjects($body)
    {
        list($response, $statusCode, $httpHeader) = $this->searchCatalogObjectsWithHttpInfo($body);
        return $response;
    }

    /**
     * searchCatalogObjectsWithHttpInfo
     *
     * SearchCatalogObjects
     *
     * @param \SquareConnect\Model\SearchCatalogObjectsRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return array of \SquareConnect\Model\SearchCatalogObjectsResponse, HTTP status code, HTTP response headers
     * (array of strings)
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function searchCatalogObjectsWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling searchCatalogObjects'
            );
        }

        // parse inputs
        $resourcePath = "/v2/catalog/search";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = ApiClient::selectHeaderAccept(['application/json']);
        if ($_header_accept !== null) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(['application/json']);
        $headerParams['Square-Version'] = "2018-07-12";

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (!empty($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }

        // this endpoint requires OAuth (access token)
        if ($this->apiClient->getConfig()->getAccessToken() !== "") {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()
                    ->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                \SquareConnect\Model\SearchCatalogObjectsResponse::class
            );
            if (!$response) {
                return [null, $statusCode, $httpHeader];
            }

            return [
                \SquareConnect\ObjectSerializer::deserialize(
                    $response,
                    \SquareConnect\Model\SearchCatalogObjectsResponse::class,
                    $httpHeader
                ),
                $statusCode,
                $httpHeader
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = \SquareConnect\ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        \SquareConnect\Model\SearchCatalogObjectsResponse::class,
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * updateItemModifierLists
     *
     * UpdateItemModifierLists
     *
     * @param \SquareConnect\Model\UpdateItemModifierListsRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return \SquareConnect\Model\UpdateItemModifierListsResponse
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function updateItemModifierLists($body)
    {
        list($response, $statusCode, $httpHeader) = $this->updateItemModifierListsWithHttpInfo($body);
        return $response;
    }

    /**
     * updateItemModifierListsWithHttpInfo
     *
     * UpdateItemModifierLists
     *
     * @param \SquareConnect\Model\UpdateItemModifierListsRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return array of \SquareConnect\Model\UpdateItemModifierListsResponse, HTTP status code,
     * HTTP response headers (array of strings)
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function updateItemModifierListsWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling updateItemModifierLists'
            );
        }

        // parse inputs
        $resourcePath = "/v2/catalog/update-item-modifier-lists";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = ApiClient::selectHeaderAccept(['application/json']);
        if ($_header_accept !== null) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(['application/json']);
        $headerParams['Square-Version'] = "2018-07-12";

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (!empty($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }

        // this endpoint requires OAuth (access token)
        if ($this->apiClient->getConfig()->getAccessToken() !== "") {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()
                    ->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                \SquareConnect\Model\UpdateItemModifierListsResponse::class
            );
            if (!$response) {
                return [null, $statusCode, $httpHeader];
            }

            return [
                \SquareConnect\ObjectSerializer::deserialize(
                    $response,
                    \SquareConnect\Model\UpdateItemModifierListsResponse::class,
                    $httpHeader
                ),
                $statusCode,
                $httpHeader
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = \SquareConnect\ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        \SquareConnect\Model\UpdateItemModifierListsResponse::class,
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * updateItemTaxes
     *
     * UpdateItemTaxes
     *
     * @param \SquareConnect\Model\UpdateItemTaxesRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return \SquareConnect\Model\UpdateItemTaxesResponse
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function updateItemTaxes($body)
    {
        list($response, $statusCode, $httpHeader) = $this->updateItemTaxesWithHttpInfo($body);
        return $response;
    }

    /**
     * updateItemTaxesWithHttpInfo
     *
     * UpdateItemTaxes
     *
     * @param \SquareConnect\Model\UpdateItemTaxesRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return array of \SquareConnect\Model\UpdateItemTaxesResponse, HTTP status code, HTTP response headers
     * (array of strings)
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function updateItemTaxesWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling updateItemTaxes'
            );
        }

        // parse inputs
        $resourcePath = "/v2/catalog/update-item-taxes";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = ApiClient::selectHeaderAccept(['application/json']);
        if ($_header_accept !== null) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(['application/json']);
        $headerParams['Square-Version'] = "2018-07-12";

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (!empty($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }

        // this endpoint requires OAuth (access token)
        if ($this->apiClient->getConfig()->getAccessToken() !== "") {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()
                    ->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                \SquareConnect\Model\UpdateItemTaxesResponse::class
            );
            if (!$response) {
                return [null, $statusCode, $httpHeader];
            }

            return [
                \SquareConnect\ObjectSerializer::deserialize(
                    $response,
                    \SquareConnect\Model\UpdateItemTaxesResponse::class,
                    $httpHeader
                ),
                $statusCode,
                $httpHeader
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = \SquareConnect\ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        \SquareConnect\Model\UpdateItemTaxesResponse::class,
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * upsertCatalogObject
     *
     * UpsertCatalogObject
     *
     * @param \SquareConnect\Model\UpsertCatalogObjectRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return \SquareConnect\Model\UpsertCatalogObjectResponse
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function upsertCatalogObject($body)
    {
        list($response, $statusCode, $httpHeader) = $this->upsertCatalogObjectWithHttpInfo($body);
        return $response;
    }

    /**
     * upsertCatalogObjectWithHttpInfo
     *
     * UpsertCatalogObject
     *
     * @param \SquareConnect\Model\UpsertCatalogObjectRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return array of \SquareConnect\Model\UpsertCatalogObjectResponse, HTTP status code,
     * HTTP response headers (array of strings)
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function upsertCatalogObjectWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling upsertCatalogObject'
            );
        }

        // parse inputs
        $resourcePath = "/v2/catalog/object";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = ApiClient::selectHeaderAccept(['application/json']);
        if ($_header_accept !== null) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(['application/json']);
        $headerParams['Square-Version'] = "2018-07-12";

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (!empty($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }

        // this endpoint requires OAuth (access token)
        if ($this->apiClient->getConfig()->getAccessToken() !== "") {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()
                    ->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                \SquareConnect\Model\UpsertCatalogObjectResponse::class
            );
            if (!$response) {
                return [null, $statusCode, $httpHeader];
            }

            return [
                \SquareConnect\ObjectSerializer::deserialize(
                    $response,
                    \SquareConnect\Model\UpsertCatalogObjectResponse::class,
                    $httpHeader
                ),
                $statusCode,
                $httpHeader
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = \SquareConnect\ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        \SquareConnect\Model\UpsertCatalogObjectResponse::class,
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
