<?php
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace SquareConnect\Api;

use \SquareConnect\Configuration;
use \SquareConnect\ApiClient;
use \SquareConnect\ApiException;
use \SquareConnect\ObjectSerializer;

/**
 * CheckoutApi Class Doc Comment
 *
 * @category Class
 * @package  SquareConnect
 * @author   Square Inc.
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://squareup.com/developers
 */
class CheckoutApi
{

    /**
     * API Client
     * @var \SquareConnect\ApiClient instance of the ApiClient
     */
    private $apiClient;

    /**
     * Constructor
     * @param \SquareConnect\ApiClient|null $apiClient The api client to use
     */
    public function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()
                ->setHost('https://connect.squareup.com');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     * @return \SquareConnect\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     * @param \SquareConnect\ApiClient $apiClient set the API client
     * @return CheckoutApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * createCheckout
     *
     * CreateCheckout
     *
     * @param string $location_id The ID of the business location to associate the checkout with. (required)
     * @param \SquareConnect\Model\CreateCheckoutRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return \SquareConnect\Model\CreateCheckoutResponse
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function createCheckout($location_id, $body)
    {
        list($response, $statusCode, $httpHeader) = $this->createCheckoutWithHttpInfo($location_id, $body);
        return $response;
    }

    /**
     * createCheckoutWithHttpInfo
     *
     * CreateCheckout
     *
     * @param string $location_id The ID of the business location to associate the checkout with. (required)
     * @param \SquareConnect\Model\CreateCheckoutRequest $body An object containing the fields
     * to POST for the request.  See the corresponding object definition for field details. (required)
     * @return Array of \SquareConnect\Model\CreateCheckoutResponse, HTTP status code,
     * HTTP response headers (array of strings)
     * @throws \SquareConnect\ApiException on non-2xx response
     */
    public function createCheckoutWithHttpInfo($location_id, $body)
    {

        // verify the required parameter 'location_id' is set
        if ($location_id === null) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $location_id when calling createCheckout'
            );
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling createCheckout'
            );
        }

        // parse inputs
        $resourcePath = "/v2/locations/{location_id}/checkouts";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = ApiClient::selectHeaderAccept(['application/json']);
        if ($_header_accept !== null) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(['application/json']);
        $headerParams['Square-Version'] = "2018-07-12";

        // path params
        if ($location_id !== null) {
            $resourcePath = str_replace(
                "{" . "location_id" . "}",
                $this->apiClient->getSerializer()
                    ->toPathValue($location_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (!empty($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }

        // this endpoint requires OAuth (access token)
        if ($this->apiClient->getConfig()->getAccessToken() !== "") {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()
                    ->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                \SquareConnect\Model\CreateCheckoutResponse::class
            );
            if (!$response) {
                return [null, $statusCode, $httpHeader];
            }

            return [
                \SquareConnect\ObjectSerializer::deserialize(
                    $response,
                    \SquareConnect\Model\CreateCheckoutResponse::class,
                    $httpHeader
                ),
                $statusCode,
                $httpHeader
            ];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = \SquareConnect\ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        \SquareConnect\Model\CreateCheckoutResponse::class,
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
